@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
// making function for the test-backgrounds
$testbackground: (
  color1: gray,
  color2: blue,
  color3: yellow,
  color4: red,
  color5: white,
);

@function testBgColor($test-color) {
  @return map-get($testbackground, $test-color);
}
// making function for the font-sizes
$conentFontsizes: (
  heroFontSize: 36px,
  taglineFontSize: 24px,
  descriptionFontSize: 16px,
  navFontSize: 20px,
);
@function fontSizes($font-sizes) {
  @return map-get($conentFontsizes, $font-sizes);
}

// styles start here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
body {
  background-color: #293864;
  height: 100vh;
  width: 100vw;
}

// for navigation bar
.navigation-cont {
  width: 100vw;
  height: 170px;
  padding: 0 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   child
  .left-section {
    width: 175px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: fontSizes(heroFontSize);
    font-weight: bold;
    // child
    img {
      width: 100%;
    }
  }
  .right-section-navlinks {
    width: 700px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    // child
    .upper-nav {
      width: 80%;
      height: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   child
      a {
        font-size: fontSizes(navFontSize);
        text-decoration: none;
        text-transform: uppercase;
        color: white;
      }
      a:hover {
        color: #51f4fe;
      }
      #loginBtn {
        background-color: #51f4fe;
        border: none;
        height: 35px;
        width: 130px;
        font-size: fontSizes(navFontSize);
        text-transform: uppercase;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .key-icon {
        width: 35px;
        height: 25px;
      }
    }
    .lower-nav {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   child
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: fontSizes(navFontSize);
        color: white;
      }
      a:hover {
        color: #51f4fe;
      }
    }
  }
}
// for footer section

.footer-cont {
  background-color: #081027;
  width: 100vw;
  height: 555px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px;
  //   child
  .upper-cont {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "leftSection middleSection1 middleSection2 rightSection";
    grid-column-gap: 60px;
    // child
    div {
      width: 100%;
    }
    .left-section {
      grid-area: leftSection;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      //   child
      img {
        width: 175px;
      }
      .schoolName {
        font-size: fontSizes(taglineFontSize);
        font-weight: bold;
        color: #ffffff;
      }
      .quote {
        font-size: fontSizes(navFontSize);
        text-align: center;
        margin-top: 3em;
        color: #ffffff;
      }
    }
    .middle-section-1 {
      grid-area: middleSection1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      //   child
      .upper-link {
        display: flex;
        flex-direction: column;
        // child
        p {
          font-size: fontSizes(navFontSize);
          font-weight: bold;
          color: #abc0ff;
        }
        a {
          text-decoration: none;
          font-size: 16px;
          margin-top: 14px;
          color: #dadada;
        }
      }
      .lower-link {
        display: flex;
        flex-direction: column;
        // child
        p {
          font-size: fontSizes(navFontSize);
          font-weight: bold;
          color: #abc0ff;
        }
        a {
          text-decoration: none;
          font-size: 16px;
          margin-top: 14px;
          color: #dadada;
        }
      }
    }
    .middle-section-2 {
      grid-area: middleSection2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      //   child
      .upper-link {
        display: flex;
        flex-direction: column;
        // child
        p {
          font-size: fontSizes(navFontSize);
          font-weight: bold;
          color: #abc0ff;
        }
        a {
          text-decoration: none;
          font-size: 16px;
          margin-top: 14px;
          color: #dadada;
        }
      }
      .lower-link {
        display: flex;
        flex-direction: column;
        // child
        p {
          font-size: fontSizes(navFontSize);
          font-weight: bold;
          color: #abc0ff;
        }
        a {
          text-decoration: none;
          font-size: 16px;
          margin-top: 14px;
          color: #dadada;
        }
      }
    }
    .right-section {
      grid-area: rightSection;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      //   child
      .header-link {
        font-size: fontSizes(navFontSize);
        font-weight: bold;
        color: #abc0ff;
      }
      .newsletterForm {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 13px;
        border-radius: 8px;
        background-color: #142659;
        margin-top: 13px;
        box-shadow: 6px 6px 1px #556798;
        // child
        .form-heading {
          width: 275px;
          color: #ffffff;
        }
        .form-lower {
          width: 245px;
          height: 25px;
          display: flex;
          justify-content: space-between;
          // child
          #emailSubscribe {
            width: 90px;
            height: 100%;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            background-color: #233d87;
            color: #ffffff;
          }
          input[type="email"] {
            border: none;
            border-bottom: 1px solid #2d51b6;
            height: 100%;
            background-color: transparent;
          }
          input[type="email"]:focus {
            outline: none;
          }
        }
      }
      .icon-links {
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 13px;
        // child
        img {
          width: 35px;
          height: 30px;
        }
      }
      .lower-part {
        // child
        .links {
          display: flex;
          align-items: center;
          // child
          img {
            margin-right: 12px;
          }
          span {
            color: #c4c4c4;
          }
        }
      }
    }
  }
  .lower-cont {
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #21305b;
  }
}
// responsivenes
// @media only screen and (max-width: 500px) {
//   .footer-cont {
//     display: none;
//   }
//   .navigation-cont {
//     display: none;
//   }
// }
// home contents
// content 1
.home-content-1 {
  width: 100vw;
  height: 570px;
  background-color: #151e35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px;
  //   child
  .left-section {
    width: 800px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // child
    .upper-part {
      display: flex;
      flex-direction: column;
      // child
      .tagline {
        font-size: fontSizes(taglineFontSize);
        color: #ffffff;
        margin: 0;
      }
      .hero {
        color: #51f4fe;
        font-size: fontSizes(heroFontSize);
        font-weight: bold;
      }
      .description {
        font-size: fontSizes(descriptionFontSize);
        color: #ffffff;
      }
    }
    #readMoreBtn {
      width: 185px;
      height: 65px;
      font-size: fontSizes(taglineFontSize);
      border: none;
      background-color: #40568d;
      color: #ffffff;
      border-radius: 8px;
      box-shadow: 6px 6px 1px #51f4fe;
    }
  }
  .right-section {
    width: 590px;
    height: 490px;
    background-image: url(../img/home-content-one.svg);
    background-repeat: no-repeat;
    background-position: cover;
  }
}
// content 2
.home-content-2 {
  width: 100vw;
  height: 490px;
  display: flex;
  justify-content: space-around;
  padding: 0 110px;
  align-items: center;
  background-color: #151e35;
  margin-top: 15em;
  // child
  .left-section {
    background-image: url(../img/home-conent-2.svg);
    width: 400px;
    height: 410px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .right-section {
    width: 760px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // child
    .upper-part {
      // child
      .tagline {
        color: #ffffff;
        font-size: fontSizes(taglineFontSize);
        margin: 0;
      }
      .hero {
        color: #51f4fe;
        font-size: fontSizes(heroFontSize);
        font-weight: bold;
      }
      .description {
        color: #ffffff;
        font-size: fontSizes(descriptionFontSize);
        width: 650px;
      }
    }
    .lower-part {
      // child
      .header-cont {
        display: flex;
        align-items: center;
        // child
        .small-details {
          width: 10px;
          height: 24px;
          background-color: #51f4fe;
        }
        .lowerheader {
          font-size: fontSizes(taglineFontSize);
          font-weight: normal;
          color: #ffffff;
          margin: 0;
        }
      }
      .iconlinks {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // child
        a {
          text-decoration: none;
        }
        img {
          width: 35px;
        }
      }
    }
  }
}
// content 3
.home-content-3 {
  background-color: #151e35;
  width: 100vw;
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 15em;
  // child
  .hero {
    color: #dfdfdf;
    font-size: fontSizes(heroFontSize);
  }
  .middle-cont {
    width: 1220px;
    height: 440px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "programNews awardNews"
      "programNews competetionNews";
    grid-row-gap: 21px;
    grid-column-gap: 21px;
    // child
    div {
      border-radius: 8px;
    }
    .program-news {
      grid-area: programNews;
      background-image: url(../img/program-news.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding-bottom: 20px;
      padding-left: 20px;
      // child
      .program-cont {
        height: 150px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // child
        .upper-part {
          // child
          .date {
            color: #ffffff;
            margin: 0;
            font-size: 16px;
          }
          .news {
            color: #ffffff;
            margin: 0;
            font-size: fontSizes(navFontSize);
          }
        }
        #newsReadMoreBtn {
          width: 160px;
          height: 35px;
          border: none;
          border-radius: 8px;
          background-color: transparent;
          border: 1px solid #ffffff;
          color: #ffffff;
        }
      }
    }
    .award-news {
      grid-area: awardNews;
      background-image: url(../img/award-news.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // child
      .award-cont {
        width: 370px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;
        padding-left: 20px;
        // child
        .date {
          color: #ffffff;
          margin: 0;
          font-size: 16px;
        }
        .news {
          color: #ffffff;
          margin: 0;
          font-size: fontSizes(navFontSize);
        }
      }
    }
    .competetion-news {
      grid-area: competetionNews;
      background-image: url(../img/competetion-news.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // child
      .competetion-cont {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 20px;
        padding-right: 20px;
        // child
        .date {
          color: #ffffff;
          margin: 0;
          font-size: 16px;
        }
        .news {
          color: #f9e42f;
          margin: 0;
          font-size: fontSizes(navFontSize);
        }
      }
    }
  }

  .viewMore {
    font-size: fontSizes(navFontSize);
    color: #abc0ff;
    text-decoration: none;
    cursor: pointer;
  }
}
// content 4
.home-content-4 {
  background-color: testBgColor(color1);
  width: 100vw;
  height: 850px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 128px;
}
// content 5
.home-content-5 {
  background-color: testBgColor(color1);
  width: 100vw;
  height: 660px;
  margin-top: 15em;
  position: relative;
  flex-direction: column;
  // children
  .top-bg {
    background-color: #28355d;
    width: 100%;
    height: 60%;
  }
  .back-bg {
    background-color: #182039;
    width: 100%;
    height: 40%;
  }
  .content-cont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // children
    .hero {
      color: #ffffff;
      font-size: fontSizes(heroFontSize);
      font-weight: bold;
    }
    .card-cont {
      width: 1200px;
      height: 390px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 52px;
      // children
      .cards {
        background-color: #495e9f;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: 6px 6px 1px #51f4fe;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0 36px;
        // child
        .upper-part {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          // children
          .svg-cont {
            width: 110px;
            height: 65px;
            background-position: center;
            background-repeat: no-repeat;
          }
          .description {
            font-size: fontSizes(navFontSize);
            color: #ffffff;
            font-weight: bold;
          }
        }
        .lower-part {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          // child
          .date {
            font-size: 16px;
            color: #ffffff;
            margin-bottom: 3px;
          }
          .lower-description {
            font-size: 14px;
            color: #ffffff;
          }
        }
      }
      .card-1 {
        // child
        .upper-part {
          // child
          .svg-cont {
            background-image: url(../img/handshake.svg);
          }
        }
      }
      .card-2 {
        // child
        .upper-part {
          // child
          .svg-cont {
            background-image: url(../img/music.svg);
          }
        }
      }
      .card-3 {
        // child
        .upper-part {
          // child
          .svg-cont {
            background-image: url(../img/ball.svg);
          }
        }
      }
      .card-4 {
        // child
        .upper-part {
          // child
          .svg-cont {
            background-image: url(../img/collage-agrrement.svg);
          }
        }
      }
    }
    .lower-btn {
      width: 200px;
      display: flex;
      height: 25px;
      justify-content: space-evenly;
      align-items: center;
      // child
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        font-size: fontSizes(navFontSize);
        transition: padding 0.15s;
      }
      a:hover {
        padding-right: 10px;
      }
    }
  }
}
// home mobile view
.nav-mobile {
  background-color: testBgColor(color1);
  height: 45px;
  width: 100%;
}
.mobile-home-footer {
  background-color: #081027;
  width: 100vw;
  height: 1600px;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // child
  .upperPart {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 10px;
    // child
    img {
      width: 90px;
      height: 90px;
    }
    .header {
      font-size: fontSizes(navFontSize);
      color: #ffffff;
      font-weight: bold;
    }
    .tagline {
      font-size: fontSizes(descriptionFontSize);
      color: #ffffff;
    }
  }
  .quick-links-mobile {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    // child
    p {
      font-size: 16px;
      color: #abc0ff;
      font-weight: bold;
    }
    .lower-part-link {
      width: 100%;
      height: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // child
      a {
        text-decoration: none;
        font-size: 14px;
        color: #dadada;
      }
    }
  }
  .academic {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    // child
    p {
      font-size: 16px;
      color: #abc0ff;
      font-weight: bold;
    }
    .lower-part-link {
      width: 100%;
      height: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // child
      a {
        text-decoration: none;
        font-size: 14px;
        color: #dadada;
      }
    }
  }
  .extracurricularActivities {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    // child
    p {
      font-size: 16px;
      color: #abc0ff;
      font-weight: bold;
    }
    .lower-part-link {
      width: 100%;
      height: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // child
      a {
        text-decoration: none;
        font-size: 14px;
        color: #dadada;
      }
    }
  }
  .resources {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    // child
    p {
      font-size: 16px;
      color: #abc0ff;
      font-weight: bold;
    }
    .lower-part-link {
      width: 100%;
      height: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // child
      a {
        text-decoration: none;
        font-size: 14px;
        color: #dadada;
      }
    }
  }
  .newsletter-mobile {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    // child
    .newsletter-header {
      font-size: fontSizes(descriptionFontSize);
      color: #abc0ff;
      font-weight: bold;
    }
    .newsletterForm {
      background-color: #142659;
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      // child
      .form-header {
        color: #ffffff;
      }
      #emailNewsletterMobile {
        border: none;
        border-bottom: 1px solid #2d51b6;
        text-align: center;
        background-color: #142659;
        height: 35px;
        width: 100%;
      }
      #emailNewsletterMobile:focus {
        outline: none;
      }
      #subscribeBtnMobile {
        margin-top: 13px;
        border: none;
        width: 60%;
        height: 35px;
        border-radius: 8px;
        background-color: #233d87;
        color: #ffffff;
      }
    }
  }
  .socialMedialinksMobile {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // child
    .socialHeader {
      font-size: 16px;
      font-weight: bold;
      color: #abc0ff;
    }
    .footer-links {
      width: 60%;
      height: 30px;
      display: flex;
      justify-content: space-around;
      // child
      a {
        text-decoration: none;
        width: 25px;
        height: 25px;

        // child
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .wrtuMobile {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // child
    .wrtuHeader {
      font-weight: bold;
      color: #abc0ff;
    }
    .wrtuCont {
      width: 100%;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      // child
      .wrtuLinks {
        width: 250px;
        height: 110px;
        display: grid;
        grid-template-columns: 35px 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "locationIcon locationLink"
          "telephoneIcon numberLink"
          "emailIcon emailLink";
        // child
        img {
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 12px;
          color: #c4c4c4;
        }
        .location-icon {
          grid-area: locationIcon;
        }
        .telephone-icon {
          grid-area: telephoneIcon;
        }
        .email-icon {
          grid-area: emailIcon;
        }
        .location {
          grid-area: locationLink;
        }
        .number {
          grid-area: numberLink;
        }
        .emailwtru {
          grid-area: emailLink;
        }
      }
    }
  }
  .lower-part {
    background-color: #21305b;
    width: 100%;
    height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #ffffff;
  }
}
