a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #54ffff;
  background-color: transparent;
  text-decoration: underline;
}

.bg-lightblue {
  background-color: #293864;
}
.bg-darkblue {
  background-color: #081027;
}

i {
  color: #54ffff;
}

footer h4,
h5 {
  color: #abc0ff;
}

footer {
  color: #dadada;
}
