@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  background-color: #293864;
  height: 100vh;
  width: 100vw;
}

.navigation-cont {
  width: 100vw;
  height: 170px;
  padding: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation-cont .left-section {
  width: 175px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-weight: bold;
}
.navigation-cont .left-section img {
  width: 100%;
}
.navigation-cont .right-section-navlinks {
  width: 700px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation-cont .right-section-navlinks .upper-nav {
  width: 80%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-cont .right-section-navlinks .upper-nav a {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.navigation-cont .right-section-navlinks .upper-nav a:hover {
  color: #51f4fe;
}
.navigation-cont .right-section-navlinks .upper-nav #loginBtn {
  background-color: #51f4fe;
  border: none;
  height: 35px;
  width: 130px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-cont .right-section-navlinks .upper-nav .key-icon {
  width: 35px;
  height: 25px;
}
.navigation-cont .right-section-navlinks .lower-nav {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-cont .right-section-navlinks .lower-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
}
.navigation-cont .right-section-navlinks .lower-nav a:hover {
  color: #51f4fe;
}

.footer-cont {
  background-color: #081027;
  width: 100vw;
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 110px;
}
.footer-cont .upper-cont {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "leftSection middleSection1 middleSection2 rightSection";
  grid-column-gap: 60px;
}
.footer-cont .upper-cont div {
  width: 100%;
}
.footer-cont .upper-cont .left-section {
  grid-area: leftSection;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.footer-cont .upper-cont .left-section img {
  width: 175px;
}
.footer-cont .upper-cont .left-section .schoolName {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.footer-cont .upper-cont .left-section .quote {
  font-size: 20px;
  text-align: center;
  margin-top: 3em;
  color: #ffffff;
}
.footer-cont .upper-cont .middle-section-1 {
  grid-area: middleSection1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-cont .upper-cont .middle-section-1 .upper-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-cont .upper-cont .middle-section-1 .upper-link p {
  font-size: 20px;
  font-weight: bold;
  color: #abc0ff;
}
.footer-cont .upper-cont .middle-section-1 .upper-link a {
  text-decoration: none;
  font-size: 16px;
  margin-top: 14px;
  color: #dadada;
}
.footer-cont .upper-cont .middle-section-1 .lower-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-cont .upper-cont .middle-section-1 .lower-link p {
  font-size: 20px;
  font-weight: bold;
  color: #abc0ff;
}
.footer-cont .upper-cont .middle-section-1 .lower-link a {
  text-decoration: none;
  font-size: 16px;
  margin-top: 14px;
  color: #dadada;
}
.footer-cont .upper-cont .middle-section-2 {
  grid-area: middleSection2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-cont .upper-cont .middle-section-2 .upper-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-cont .upper-cont .middle-section-2 .upper-link p {
  font-size: 20px;
  font-weight: bold;
  color: #abc0ff;
}
.footer-cont .upper-cont .middle-section-2 .upper-link a {
  text-decoration: none;
  font-size: 16px;
  margin-top: 14px;
  color: #dadada;
}
.footer-cont .upper-cont .middle-section-2 .lower-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-cont .upper-cont .middle-section-2 .lower-link p {
  font-size: 20px;
  font-weight: bold;
  color: #abc0ff;
}
.footer-cont .upper-cont .middle-section-2 .lower-link a {
  text-decoration: none;
  font-size: 16px;
  margin-top: 14px;
  color: #dadada;
}
.footer-cont .upper-cont .right-section {
  grid-area: rightSection;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer-cont .upper-cont .right-section .header-link {
  font-size: 20px;
  font-weight: bold;
  color: #abc0ff;
}
.footer-cont .upper-cont .right-section .newsletterForm {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 13px;
  border-radius: 8px;
  background-color: #142659;
  margin-top: 13px;
  -webkit-box-shadow: 6px 6px 1px #556798;
          box-shadow: 6px 6px 1px #556798;
}
.footer-cont .upper-cont .right-section .newsletterForm .form-heading {
  width: 275px;
  color: #ffffff;
}
.footer-cont .upper-cont .right-section .newsletterForm .form-lower {
  width: 245px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-cont .upper-cont .right-section .newsletterForm .form-lower #emailSubscribe {
  width: 90px;
  height: 100%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #233d87;
  color: #ffffff;
}
.footer-cont .upper-cont .right-section .newsletterForm .form-lower input[type=email] {
  border: none;
  border-bottom: 1px solid #2d51b6;
  height: 100%;
  background-color: transparent;
}
.footer-cont .upper-cont .right-section .newsletterForm .form-lower input[type=email]:focus {
  outline: none;
}
.footer-cont .upper-cont .right-section .icon-links {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13px;
}
.footer-cont .upper-cont .right-section .icon-links img {
  width: 35px;
  height: 30px;
}
.footer-cont .upper-cont .right-section .lower-part .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-cont .upper-cont .right-section .lower-part .links img {
  margin-right: 12px;
}
.footer-cont .upper-cont .right-section .lower-part .links span {
  color: #c4c4c4;
}
.footer-cont .lower-cont {
  width: 100vw;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #21305b;
}

.home-content-1 {
  width: 100vw;
  height: 570px;
  background-color: #151e35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 110px;
}
.home-content-1 .left-section {
  width: 800px;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.home-content-1 .left-section .upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-content-1 .left-section .upper-part .tagline {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}
.home-content-1 .left-section .upper-part .hero {
  color: #51f4fe;
  font-size: 36px;
  font-weight: bold;
}
.home-content-1 .left-section .upper-part .description {
  font-size: 16px;
  color: #ffffff;
}
.home-content-1 .left-section #readMoreBtn {
  width: 185px;
  height: 65px;
  font-size: 24px;
  border: none;
  background-color: #40568d;
  color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 6px 6px 1px #51f4fe;
          box-shadow: 6px 6px 1px #51f4fe;
}
.home-content-1 .right-section {
  width: 590px;
  height: 490px;
  background-image: url(../img/home-content-one.svg);
  background-repeat: no-repeat;
  background-position: cover;
}

.home-content-2 {
  width: 100vw;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #151e35;
  margin-top: 15em;
}
.home-content-2 .left-section {
  background-image: url(../img/home-conent-2.svg);
  width: 400px;
  height: 410px;
  background-repeat: no-repeat;
  background-position: center;
}
.home-content-2 .right-section {
  width: 760px;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.home-content-2 .right-section .upper-part .tagline {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}
.home-content-2 .right-section .upper-part .hero {
  color: #51f4fe;
  font-size: 36px;
  font-weight: bold;
}
.home-content-2 .right-section .upper-part .description {
  color: #ffffff;
  font-size: 16px;
  width: 650px;
}
.home-content-2 .right-section .lower-part .header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-content-2 .right-section .lower-part .header-cont .small-details {
  width: 10px;
  height: 24px;
  background-color: #51f4fe;
}
.home-content-2 .right-section .lower-part .header-cont .lowerheader {
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
}
.home-content-2 .right-section .lower-part .iconlinks {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-content-2 .right-section .lower-part .iconlinks a {
  text-decoration: none;
}
.home-content-2 .right-section .lower-part .iconlinks img {
  width: 35px;
}

.home-content-3 {
  background-color: #151e35;
  width: 100vw;
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15em;
}
.home-content-3 .hero {
  color: #dfdfdf;
  font-size: 36px;
}
.home-content-3 .middle-cont {
  width: 1220px;
  height: 440px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "programNews awardNews" "programNews competetionNews";
  grid-row-gap: 21px;
  grid-column-gap: 21px;
}
.home-content-3 .middle-cont div {
  border-radius: 8px;
}
.home-content-3 .middle-cont .program-news {
  grid-area: programNews;
  background-image: url(../img/program-news.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
  padding-left: 20px;
}
.home-content-3 .middle-cont .program-news .program-cont {
  height: 150px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-content-3 .middle-cont .program-news .program-cont .upper-part .date {
  color: #ffffff;
  margin: 0;
  font-size: 16px;
}
.home-content-3 .middle-cont .program-news .program-cont .upper-part .news {
  color: #ffffff;
  margin: 0;
  font-size: 20px;
}
.home-content-3 .middle-cont .program-news .program-cont #newsReadMoreBtn {
  width: 160px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.home-content-3 .middle-cont .award-news {
  grid-area: awardNews;
  background-image: url(../img/award-news.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.home-content-3 .middle-cont .award-news .award-cont {
  width: 370px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  padding-left: 20px;
}
.home-content-3 .middle-cont .award-news .award-cont .date {
  color: #ffffff;
  margin: 0;
  font-size: 16px;
}
.home-content-3 .middle-cont .award-news .award-cont .news {
  color: #ffffff;
  margin: 0;
  font-size: 20px;
}
.home-content-3 .middle-cont .competetion-news {
  grid-area: competetionNews;
  background-image: url(../img/competetion-news.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.home-content-3 .middle-cont .competetion-news .competetion-cont {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 20px;
}
.home-content-3 .middle-cont .competetion-news .competetion-cont .date {
  color: #ffffff;
  margin: 0;
  font-size: 16px;
}
.home-content-3 .middle-cont .competetion-news .competetion-cont .news {
  color: #f9e42f;
  margin: 0;
  font-size: 20px;
}
.home-content-3 .viewMore {
  font-size: 20px;
  color: #abc0ff;
  text-decoration: none;
  cursor: pointer;
}

.home-content-4 {
  background-color: gray;
  width: 100vw;
  height: 850px;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 128px;
}

.home-content-5 {
  background-color: gray;
  width: 100vw;
  height: 660px;
  margin-top: 15em;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-content-5 .top-bg {
  background-color: #28355d;
  width: 100%;
  height: 60%;
}
.home-content-5 .back-bg {
  background-color: #182039;
  width: 100%;
  height: 40%;
}
.home-content-5 .content-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.home-content-5 .content-cont .hero {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
}
.home-content-5 .content-cont .card-cont {
  width: 1200px;
  height: 390px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 52px;
}
.home-content-5 .content-cont .card-cont .cards {
  background-color: #495e9f;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 6px 6px 1px #51f4fe;
          box-shadow: 6px 6px 1px #51f4fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 36px;
}
.home-content-5 .content-cont .card-cont .cards .upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.home-content-5 .content-cont .card-cont .cards .upper-part .svg-cont {
  width: 110px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
}
.home-content-5 .content-cont .card-cont .cards .upper-part .description {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.home-content-5 .content-cont .card-cont .cards .lower-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.home-content-5 .content-cont .card-cont .cards .lower-part .date {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 3px;
}
.home-content-5 .content-cont .card-cont .cards .lower-part .lower-description {
  font-size: 14px;
  color: #ffffff;
}
.home-content-5 .content-cont .card-cont .card-1 .upper-part .svg-cont {
  background-image: url(../img/handshake.svg);
}
.home-content-5 .content-cont .card-cont .card-2 .upper-part .svg-cont {
  background-image: url(../img/music.svg);
}
.home-content-5 .content-cont .card-cont .card-3 .upper-part .svg-cont {
  background-image: url(../img/ball.svg);
}
.home-content-5 .content-cont .card-cont .card-4 .upper-part .svg-cont {
  background-image: url(../img/collage-agrrement.svg);
}
.home-content-5 .content-cont .lower-btn {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-content-5 .content-cont .lower-btn a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: padding 0.15s;
  transition: padding 0.15s;
}
.home-content-5 .content-cont .lower-btn a:hover {
  padding-right: 10px;
}

.nav-cont {
  background-color: #081027;
  height: 55px;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.nav-cont .left-section {
  width: 55px;
  height: 50px;
}
.nav-cont .left-section img {
  width: 100%;
}
.nav-cont .hamburger-section {
  width: 45px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-cont .hamburger-section .lines {
  height: 3px;
  width: 100%;
  background-color: #51f4fe;
  border-radius: 8px;
}
.nav-cont .nav-bar-mobile {
  background-color: #081027;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}
.nav-cont .nav-bar-mobile .upper-nav {
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.nav-cont .nav-bar-mobile .upper-nav a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #abc0ff;
}
.nav-cont .nav-bar-mobile .lower-nav {
  width: 100%;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.nav-cont .nav-bar-mobile .lower-nav .academic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-cont .nav-bar-mobile .lower-nav .academic p {
  font-size: 20px;
  color: #abc0ff;
  font-weight: bold;
}
.nav-cont .nav-bar-mobile .lower-nav .academic a {
  text-decoration: none;
  color: #51f4fe;
}
.nav-cont .nav-bar-mobile .lower-nav .extracurricularActivities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-cont .nav-bar-mobile .lower-nav .extracurricularActivities p {
  font-size: 20px;
  color: #abc0ff;
  font-weight: bold;
}
.nav-cont .nav-bar-mobile .lower-nav .extracurricularActivities a {
  text-decoration: none;
  color: #51f4fe;
}
.nav-cont .nav-bar-mobile .lower-nav .resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-cont .nav-bar-mobile .lower-nav .resources p {
  font-size: 20px;
  color: #abc0ff;
  font-weight: bold;
}
.nav-cont .nav-bar-mobile .lower-nav .resources a {
  text-decoration: none;
  color: #51f4fe;
}
.nav-cont .show {
  height: 650px;
}
.nav-cont .show .upper-nav {
  opacity: 1;
}
.nav-cont .show .lower-nav {
  opacity: 1;
}

.mobile-home-footer {
  background-color: #081027;
  width: 100vw;
  height: 1600px;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-home-footer .upperPart {
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}
.mobile-home-footer .upperPart img {
  width: 90px;
  height: 90px;
}
.mobile-home-footer .upperPart .header {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.mobile-home-footer .upperPart .tagline {
  font-size: 16px;
  color: #ffffff;
}
.mobile-home-footer .quick-links-mobile {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px;
}
.mobile-home-footer .quick-links-mobile p {
  font-size: 16px;
  color: #abc0ff;
  font-weight: bold;
}
.mobile-home-footer .quick-links-mobile .lower-part-link {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-home-footer .quick-links-mobile .lower-part-link a {
  text-decoration: none;
  font-size: 14px;
  color: #dadada;
}
.mobile-home-footer .academic {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px;
}
.mobile-home-footer .academic p {
  font-size: 16px;
  color: #abc0ff;
  font-weight: bold;
}
.mobile-home-footer .academic .lower-part-link {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-home-footer .academic .lower-part-link a {
  text-decoration: none;
  font-size: 14px;
  color: #dadada;
}
.mobile-home-footer .extracurricularActivities {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px;
}
.mobile-home-footer .extracurricularActivities p {
  font-size: 16px;
  color: #abc0ff;
  font-weight: bold;
}
.mobile-home-footer .extracurricularActivities .lower-part-link {
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-home-footer .extracurricularActivities .lower-part-link a {
  text-decoration: none;
  font-size: 14px;
  color: #dadada;
}
.mobile-home-footer .resources {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px;
}
.mobile-home-footer .resources p {
  font-size: 16px;
  color: #abc0ff;
  font-weight: bold;
}
.mobile-home-footer .resources .lower-part-link {
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-home-footer .resources .lower-part-link a {
  text-decoration: none;
  font-size: 14px;
  color: #dadada;
}
.mobile-home-footer .newsletter-mobile {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.mobile-home-footer .newsletter-mobile .newsletter-header {
  font-size: 16px;
  color: #abc0ff;
  font-weight: bold;
}
.mobile-home-footer .newsletter-mobile .newsletterForm {
  background-color: #142659;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.mobile-home-footer .newsletter-mobile .newsletterForm .form-header {
  color: #ffffff;
}
.mobile-home-footer .newsletter-mobile .newsletterForm #emailNewsletterMobile {
  border: none;
  border-bottom: 1px solid #2d51b6;
  text-align: center;
  background-color: #142659;
  height: 35px;
  width: 100%;
}
.mobile-home-footer .newsletter-mobile .newsletterForm #emailNewsletterMobile:focus {
  outline: none;
}
.mobile-home-footer .newsletter-mobile .newsletterForm #subscribeBtnMobile {
  margin-top: 13px;
  border: none;
  width: 60%;
  height: 35px;
  border-radius: 8px;
  background-color: #233d87;
  color: #ffffff;
}
.mobile-home-footer .socialMedialinksMobile {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-home-footer .socialMedialinksMobile .socialHeader {
  font-size: 16px;
  font-weight: bold;
  color: #abc0ff;
}
.mobile-home-footer .socialMedialinksMobile .footer-links {
  width: 60%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.mobile-home-footer .socialMedialinksMobile .footer-links a {
  text-decoration: none;
  width: 25px;
  height: 25px;
}
.mobile-home-footer .socialMedialinksMobile .footer-links a img {
  width: 100%;
  height: 100%;
}
.mobile-home-footer .wrtuMobile {
  width: 100%;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-home-footer .wrtuMobile .wrtuHeader {
  font-weight: bold;
  color: #abc0ff;
}
.mobile-home-footer .wrtuMobile .wrtuCont {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks {
  width: 250px;
  height: 110px;
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "locationIcon locationLink" "telephoneIcon numberLink" "emailIcon emailLink";
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks img {
  width: 20px;
  height: 20px;
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks p {
  font-size: 12px;
  color: #c4c4c4;
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks .location-icon {
  grid-area: locationIcon;
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks .telephone-icon {
  grid-area: telephoneIcon;
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks .email-icon {
  grid-area: emailIcon;
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks .location {
  grid-area: locationLink;
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks .number {
  grid-area: numberLink;
}
.mobile-home-footer .wrtuMobile .wrtuCont .wrtuLinks .emailwtru {
  grid-area: emailLink;
}
.mobile-home-footer .lower-part {
  background-color: #21305b;
  width: 100%;
  height: 65px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  color: #ffffff;
}